<ion-view>
<ion-nav-title>
		<h2 class="title" style="font-family: Georgia;font-size: 25px;margin-top: 5px;">PRTravel</h2>
	</ion-nav-title>
  <ion-content class="padding">
    <section id="cd-header" class="cd-header"> 
     <div class="list">
<label class="item item-input">
    
    <input type="text" placeholder="Where to next?">
</label>
            <div class="cd-timeline-picture dark">
              <img ng-src="/img/{{activity.profilePicture}}"></img>
            </div>
 

    <button ng-click="Showalert()" class="buttontimeline button-small">
      Post
    </button>
    
      </section>

      <section id="cd-timeline" class="cd-container">
          <div ng-repeat="activity in timeline" >
          <div class="cd-timeline-block">

            <div class="cd-timeline-picture dark">
              <img ng-src="/img/{{activity.profilePicture}}"></img>
            </div>
           
              <div class="cd-timeline-content dark">
            	<h5 class="marginBottom0 marginTop0">{{activity.title}}</h5>
            	<p class="marginTop5 cd-author">by {{activity.author}} on {{activity.date | date: "d MMM"}}</p>
            	
              <p class="timelineText">{{activity.text}}</p>
  
             
<div ng-controller="DivCtrl2"> 
       
<div ng-show="!hasLikedUser" class="tab-item" ng-click="toggleLikeUserPage()">
    <i class="fa fa-thumbs-o-up" style="font-size: 2em; float:left; padding-left: 16px; margin-top:12px " ></i>
</div>

<div ng-show="hasLikedUser" class="tab-item" ng-click="toggleLikeUserPage()" >
    <i class="fa fa-thumbs-up" style="font-size: 2em; float:left; padding-left: 16px; margin-top:12px " ></i>

</div>

</div>

<div ng-controller="myCtrl"> 
       
<div ng-click="boxShow=!boxShow">
    <i class="fa fa-comment-o" style="font-size:30px"></i>
    <div ng-show="boxShow">
    <textarea style="color: black; background-color: white box-shadow: 0 0 0 3px #000;
    border: 5px solid black; rows="4" cols="50">Comment</textarea>
</div>


    </div>




              <button class="buttontimeline button-small"ng-click="count = count + 1" ng-init="count=0">
              Comm {{count}}
              </button>

              <button class="buttontimeline button-small"ng-click="counter = counter + 1" ng-init="counter=0">
              Like {{counter}}
              </button>
             

              
              
            </div>
          </div>
        </div>
      </section>
  </ion-content>
</ion-view>