<ion-view view-title="Authorization Page" cache-view="false">  
  <div class="bar bar-header bar-calm" style="height: 44px;">
    <button class="button  button-clear button-dark" style="position: fixed; right: 5px; top: 0px;" ng-click="closeSignup()">
            <i class="ion-ios-close-empty" style="font-size: 50px"></i>
      </button>
      <h3 class="title" style="text-align: center;">Sign Up!</h3>
</div>
      <ion-content class="has-header" ng-controller = "registrationCtrl">
       
        
         
        <form name="RegistrationForm" novalidate> 
         
          <div class="list">
           

           <label class="item item-input item-stacked-label">
              <span class="input-label">First Name</span>
              <p style="color: black; font-weight: bold; position: absolute; right: 5px;" ng-show="RegistrationForm.firstname.$error.required">Required</p>
              <input type="text" placeholder= "Harambe" name="firstname" ng-model="data.firstname" required>
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Last Name</span>
              <p style="color: black; font-weight: bold; position: absolute; right: 5px;" ng-show="RegistrationForm.lastname.$error.required">Required</p>
              <input type="text" name="lastname" placeholder="Vega" ng-model="data.lastname" required>
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <p style="color: red; position: absolute; right: 5px;" ng-show="RegistrationForm.email.$invalid && !RegistrationForm.email.$pristine">Email must be a valid email address</p>
              <input type="email" name="email" placeholder="example@example.com" ng-model="data.email">
            </label>

            <label class="item item-input item-stacked-label">
              <span class="input-label">Username</span>
              <p style="color: red; position: absolute; right: 5px;" ng-show="RegistrationForm.username.$error.minlength">Username must be longer than 5 characters</p>
               <p style="color: black; font-weight: bold; position: absolute; right: 5px;" ng-show="RegistrationForm.username.$error.required">Required </p>
              <input type="text" name="username" placeholder="User" ng-minlength="5" ng-model="data.username" required>
            </label>
                          
            <label class="item item-input item-stacked-label">
              <span class="input-label">Password</span>
              <p style="color: black; font-weight: bold; position: absolute; right: 5px;" ng-show="RegistrationForm.password.$error.required">Required </p>
              <p style="color: red; position: absolute; right: 5px;" ng-show="RegistrationForm.password.$error.minlength">* Password must be longer than 6 characters</p>
              <input type="password" name="password" placeholder="Password" ng-minlength="5" ng-model="data.password" requierd>
            </label>
          
             <label class="item item-input  item-select">
                <span class="input-label">Credit Card</span>
  
              <input type="text" name="ccard" required>
                  
                  <select >
                  <option>Master Card</option>
                  <option selected>Visa</option>
                  <option>American Express</option>
                  </select>
                  
                  </label>   

                <label class="item item-input">
                <span class="input-label">CSS</span>
                <input type="text" name="ccs" required>
                </label>
                 

          </div>


  <div class="padding">
            <button type="button" class="button button-block button-positive" ng-disabled="RegistrationForm.$invalid" ng-click="submit()">Submit</button>
        </div>
             
        </form>   
         
      </ion-content>
       
    </ion-view>