
<ion-modal-view view-title="Profile">
<ion-content scroll="false" ng-controller="ProfileController" >

	<div id="content">
        <div id="profile-info">
        		<img id="profile-image" ng-src="{{profileinfo.imageurl}}"></img>
          		<h3 id="profile-name" style="color: lightgray;"> {{profileinfo.ufirst}} {{profileinfo.ulast}} </h3>
          		 <p id="profile-description"> {{profileinfo.udescription}}</p>
                 <button class="button button-clear button-light" style="position: fixed; right: 5px; top: 0px;" ng-click="closeprofile()">
                        <i class="ion-ios-close-empty" style="font-size: 50px"></i>
                  </button>
                <button class="button button-positive button-small" ng-if="!isActiveUser" style="position: fixed; right: 8px; top: 190px;" ng-click="followOrUnfollow()">
                        <i class="ion-person-add" style="font-size: 16px;font-family: Georgia;"> {{follow}}</i>
                </button>
                <button class="button button-positive" ng-if="isActiveUser" style="position: fixed; right: 8px; top: 190px;font-size: 24px;font-family: Georgia;" ng-click="addToAlbums()">
                  <i class="ion-plus-circled"> Album </i>
                </button>
        </div>
  </div>



  <ion-tabs class="tabs-icon tabs-color-active-positive">

  <!-- Wishlist Tab -->
  <ion-tab title="Wish List" icon-off="ion-star" icon-on="ion-star" ng-click="wishlist()">
  <ion-nav-view name="wishlist" ></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendar" icon-off="icon ion-calendar" icon-on="icon ion-calendar" ng-click="calendar()">
   <ion-nav-view name="calendar"></ion-nav-view>
  </ion-tab>

  <!-- Album Tab -->
  <ion-tab title="ALbum" icon-off="icon ion-images" icon-on="icon ion-images" ng-click="album()">
    <ion-nav-view name="album" ></ion-nav-view>
  </ion-tab>




  </ion-tabs>








</ion-content>
</ion-modal-view>
